* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background: #000000;
	font-family: "Poppins", sans-serif;
}

.container {
	width: 400px;
	height: auto;
	position: relative;
	top: 33.3333%;
	left: 33.3333%;
	background: white;
	border-radius: 10px;
}

.newTask {
	position: relative;
	padding: 30px 20px;
}

.newTask input {
	width: 80%;
	height: 45px;
	font-size: 15px;
	border: 2px solid #d1d3d4;
	padding: 12px;
	color: #111111;
	position: relative;
	border-radius: 5px;
}

.newTask input:focus {
	outline: none;
	border-color: #000000;
}

.newTask button {
	position: relative;
	float: right;
	width: 45px;
	height: 45px;
	border-radius: 5px;
	font-size: 16px;
	background-color: #000000;
	border: none;
	color: #ffffff;
	cursor: pointer;
	outline: none;
}

#tasks {
	background-color: #ffffff;
	padding: 30px 20px;
	margin-top: 5px;
	border-radius: 10px;
	width: 100%;
	position: relative;
}

.task {
	background-color: #e5e5e5;
	height: 50px;
	margin-bottom: 8px;
	padding-left: 5px;
	display: flex;
	border-radius: 5px;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.task span {
	font-size: 15px;
	font-weight: 400;
}

.delete {
	background-color: red;
	color: #ffffff;
	height: 100%;
	width: 50px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	outline: none;
}

.taskCheck {
	display: flex;
	align-items: center;
}

.taskCheckbox {
	height: 25px;
	width: 25px;
	margin-right: 5px;
}

.taskCheckbox:checked + #taskname {
	text-decoration: line-through;
}
